<ion-view view-title="Developer">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list card">

          <div class="item item-avatar">
            <img src="https://s.gravatar.com/avatar/143615a20f580213f50d651cf5148d11?s=80">
            <h2>Chitrank Dixit</h2>
            <p>Web/Mobile Application Developer, Problem Solver ,Gadget Lover, Musician</p>
          </div>

          <div class="item item-image">
            
          </div>

          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-music-note"></i>
            Contact Me
          </a>

        </div>
    </ion-content>
</ion-view>